.BsTelephoneFill,.MdEmail{
    color: #FA841D;
  
}
.FaFacebookF{
    color:#4267B2;
}
.RiWhatsappFill{
    color:#25D366;
}
.BsFillStarFill{
    color:#F6AB27;
}
.BsFillCartCheckFill{
    color: #AFAFAF;
}
.IoMdReturnLeft{
    color: #333;
}
.MdClose{
    color: red;
    font-size: xx-large;
}